/* -----------------------------------------
   Global color variables
----------------------------------------- */
:root {
    --yellow: #FFCC00;
    --black: #000000;
    --white: #FFFFFF;
    --gray-bg: #F5F5F5;
}
